* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: red;
}

.container-jumbo {
    max-width: 100%;
    height: 400px;
    margin: 5px auto;
    background-color: red;
}

.row {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    background-color: aqua;
}

.col-35 {
    width: 35%;
    height: 55%;
    background-color: bisque;
}

.col-50 {
    width: 49%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
}

.col-65 {
    width: 64%;
    height: 55%;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: bisque;
}

.col-100 {
    width: 99%;
    height: 45%;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: bisque;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 3px;
    background-color: chartreuse;
    border-right: 1px solid black;
}

.header-list {
    width: 69%;
    height: 100%;
    margin-left: 1px;
    background-color: chartreuse;
}

.login {
    width: 30%;
    height: 100%;
    margin-left: 1px;
    background-color: chartreuse;
}




.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}