/* GENERAL SETTINGS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}
/* /GENERAL SETTINGS  */

/*  MAIN TAGS  */
header {
    width: 100%;
    position: fixed;
    z-index: 3;
    margin-bottom: 50px;
    background-color: white;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(39, 39, 39);
}

h1 {
   font-size: 90px;
   font-weight: bold;
}
/*  /MAIN TAGS  */


/*  CONTAINERS  */
.container-full {
    max-width: 1600px;
    margin: 0 auto;
}

.container-small {
    width: 65%;
    margin: 0 auto;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

.row-jumbo {
    width: 80%;
    margin: 0 auto;
}

.container-header-list {
    width: 100%;
}

.container-plans {
    width: 100%;
    gap: 40px;
}

.content-h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.content-100 {
    width: 100%;
}

.content-business {
    width: 100%;
    padding-top: 60px;
}

.content-buttons {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px; 
}

.content-plans {
    width: 100%;
}

.content-operations {
    width: 100%;
    padding-top: 100px;
}

.content-clients {
    font-size: 12px;
    padding-bottom: 150px;
}

.content-clients h2{
    padding-bottom: 60px;
}

.content-card {
    width: 100%;
    padding-bottom: 50px;
}

.content-card span {
    display: inline-block;
    padding-top: 30px;
}

.content-card h3, .content-card img, .content-card span {
    width: 70%;
}
/*  /CONTAINERS  */

/*  LISTS  */
ul {
    list-style-type: none;
}

.header-list li{
    display: inline;
    padding: 10px;
    font-size: 12px;
}
/*  /LISTS  */

/*  COLUMNS  */
.col-15 {
    width: 15%;
    background-color: fuchsia;
}

.col-20 {
    width: 20%;
    background-color: darkorange;
    border: 1px solid black;
}

.col-33 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
    margin: 0 auto;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.col-100-jumbo {
    width: 90%;
    margin: 0 auto;
}
/*  /COLUMNS  */

.header-list a {
    color: black;
    text-decoration: none;
}





.logo {
    width: 20%;
    margin-right: 10px;
    text-align: center;
}



.login {
    width: 10%;
    font-size: 12px;
    text-align: center;
}

button {
    color: white;
    background-color: rgb(0, 97, 255);
    border: none;
    padding: 5px 12px 7px 12px;
}

.user {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(208, 208, 211);
}

.team-logo {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(208, 208, 211);;
}

.enterprise-plan {
    width: 100%;
}

.enterprise-info {
    width: 80%;
}

.contact-button {
    width: 20%;
    padding-top: 30px;
}

.content h3 {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.sales-contact {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 50px;
    padding-left: 25px;
}

.solutions {
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 25px;
}

.partner-img {
    width: 50%;
}

.partner-img img {
    width: 100%;
    object-fit: cover;
}

.partner-info {
    width: 50%;
}

.content-partner {
    width: 50%;
    padding-top: 40px;
    padding-left: 25px;
}

.content-partner h3 {
    padding-bottom: 20px;
}

.content-partner p {
    font-size: 12px;
    padding-bottom: 25px;
}

.content-partner button {
    font-size: 12px;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}

.content-operations {
    padding-bottom: 40px;
}

/*  UTILITY  */
.text-align-right {
    text-align: right;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 2px;
}

.justify-content-between {
    justify-content: space-between;
    margin: 0 auto;
}

.bg-red {
    background-color: red;
}

.bg-lightblue {
    background-color: rgb(180, 208, 231);
}

.bg-bisque {
    background-color: bisque;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-top {
    padding-top: 30px;
}
/*  /UTILITY  */

.downarrow {
    font-size: 80px;
}

.square1 {
    width: 50%;
    height: 300px;
    background-color: chocolate;
}

.square2 {
    width: 50%;
    height: 300px;
    background-color: cornflowerblue;
}

.logo img {
    object-fit: cover;
    padding: 12px 5px 10px 5px;
}

.img-jumbo {
    object-fit: contain;
    width: 70%;
}

.button-year {
    padding-right: 40px;
}

.border-grey {
    border: 1px solid rgb(208, 208, 211);
}

.plan-type {
    padding-top: 30px;
    padding-left: 25px;
}

.total-price {
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 25px;
}

.unitary-price {
    color: rgb(102, 104, 107);
    font-size: 12px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 40px;
}

.plan-list {
    font-size: 12px;
    padding-left: 25px;
    padding-bottom: 40px;
}



.list li, .recap-list li {
    padding-top: 10px;
    padding-right: 30px;
    font-size: 12px;
}



.free-trial {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.free {
    display: inline-block;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.purchase-now {
    font-size: 12px;
    padding-left: 25px;
    padding-bottom: 40px;
}

hr {
    width: 10%;
    color: rgb(208, 208, 211);
    margin-left: 25px;
}

.recap-list {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 40px;
    list-style-position: inside;
}

.list-title li {
    list-style-type: disc;
}

.plan-li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-top {
    margin-top: 50px;
}




